@charset "utf-8";
/* 
/*==================================================
スライダーのためのcss
===================================*/
/* .slider img {
    width:300px;/*スライダー内の画像を横幅100%に*/
    /* height:300px;
    object-fit: cover;
    border-radius: 40%; */
} 

img {}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    /* margin:0 10px;スライド左右の余白調整 */
} 


