/*共通---------------------------*/




/*HEADER---------------------------------*/
.logo{
    height: 100px;
    width: 150px;
    object-fit: cover;
}

.page-header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(188,154,120,0.7);
    height: 100px;
    z-index:9999;
  }
.main-nav{
    display: flex;
    position: relative;
    list-style: none;
    margin-right: 100px;
    margin-top: 40px;
}
.main-nav a{
    color: #432;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 1.5rem;
}
.main-nav a:hover{
    color: grey;
}
.main-nav li{
    margin-left: 40px;
}

.sns-link i{
    text-decoration: none;
}
.sns-link{
    margin-right: 100px;
}

.page-title{
    position: absolute;
    margin-left: 150px;
    margin-top: 40px;
    font-family: 'Cutive Mono', monospace;
        font-size: 1.5rem;
    }
/*MAIN PAGE---------------------------------*/
.slideshow-container {
    width: 1000px;
    height:600px; /* スライドショーの高さを調整 */
    display: flex;
    overflow: hidden;
    text-align: center;
    margin: auto; 
  }
  
  .slide {
    position: absolute;
    width: 1000px;
    height: 600;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    margin-top: 150px;
  }
  
  .slide.active {
    opacity: 1;
  }

  .slide img {
    width: 1000px;
    height: 600px;
    border-radius:  60% 40% 70% 30% / 30% 60% 40% 70% ;
  }

  .main-content{
    margin: 50px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    line-height: 2rem;
    margin-top: 150px;
    font-size: 1rem;
  }
 
  .main p{
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
  }
 /*スクロールスナップ---------------------------------*/
 .container{
  overflow: auto;
  scroll-snap-type: y proximity;
  height: 100vh;
 }
 .section{
  height: 100vh;
  scroll-snap-align: start;
 }
 /*Message Page---------------------------------*/
.title{
  font-family: 'Caveat', cursive;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
.message-page p{
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  line-height: 4rem;
  font-size: 1.275rem;
}

.message-page{
  padding-bottom: 100px;
}

.wag{
  font-size: 2rem;
}

.fade-in {
  opacity: 0; /* 初期状態では非表示 */
  transition: opacity 2.5s ease-in; /* フェードインのアニメーションを追加 */
}


.planePath {
  stroke: #432;
  stroke-width: .1%;
  stroke-width: .1%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
}

.fil1 {
  fill: #D9DADA;
}

.fil2 {
  fill: #C5C6C6;
}

.fil4 {
  fill: #9e9e9d;
}

.fil3 {
  fill: #AEAFB0;
}

svg{
  height: 200px;
  width: 100%;
  margin-top: 50px;
}

/*NEWS-PAGE---------------------------------*/

.container {
  display: grid;
  align-items: center;
  text-align: center; 
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.box .fadeUp p {
justify-content: center;
}



/*飛行機*--------------*/

.container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.caption {
  margin-top: 10px;
  font-size: 16px;
  width: 300px;
  font-family: 'Cormorant Garamond', serif;
  margin: auto;
}
.caption a{
  text-decoration: none;
  color: black;
}
.caption a:hover{
  color: grey;
}

.news-title{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
.news-page{
  background-color: rgba(228, 228, 228, 0.65);
}


/*ふわっと--------------------------*/
.fadeUp {
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
  }
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  
  /* アニメーションスタートの遅延時間を決めるCSS*/
  
  .delay-time02{
  animation-delay: 0.2s;
  }
  
  .delay-time03{
  animation-delay: 0.3s;
  }
  
  .delay-time04{
  animation-delay: 0.4s;
  }

  .delay-time05{
  animation-delay: 0.5s;
  }
  .delay-time06{
  animation-delay: 0.6s;
  }

  /*menu-paeg---------------*/
  .menu-title{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 2.5rem;
  }
  .menu-page p{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;


  }
  
/*==================================================
スライダーのためのcss
===================================*/
.slider img {
  width:300px;
  height:300px;
  object-fit: cover;
  border-radius: 40%;
  text-align: center;
  gap: 50px;
}

 .slick-slide{
  width: 300px !important;
} 



/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin:0 10px;/*スライド左右の余白調整*/
}
 
  
      
  


/* .button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
} */



/* CSS */
.button-51 {
  background-color: transparent;
  border: 2px solid gray;
  box-sizing: border-box;
  color: #00132C;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #dad5d5;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: rgb(91, 89, 89);
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}
.btn{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

/*==========CONTACT-PAGE==========*/

.contact-title{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: lighter;
}

label{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1.65rem;
  display: block;
  
}

input[type="text"],
input[type="email"]
{
  background: rgba(128,128,128,0.45);
  border:1px solid #fff ;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input[type="text"],
input[type="email"]{
  width:100%;
  max-width: 255px;
  height: 3rem;
}

textarea{
  width: 100%;
  max-width: 300px;
  height: 6rem;
}

#message{
  background: rgba(128,128,128,0.45);
  border:1px solid #fff ;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.contact{
  text-align: center;
}

.tag{
  margin-bottom: 25px;
}

input[type="submit"]{
  border: none;
  cursor:pointer;
  line-height: 1;
  background-color: rgba(255,255,255,.5);
  padding: 20px 30px;
  border-radius: 10%;
  font-family: 'Quicksand', sans-serif;
font-size: 1.275rem;
}









/*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg{
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
  display: block;
  content: "";
  position:fixed;
z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
left: 0;
  transform: scaleY(0);
  background-color: #333;/*伸びる背景色の設定*/
animation-name:PageAnime;
animation-duration:1.2s;
animation-timing-function:ease-in-out;
animation-fill-mode:forwards;
}
@keyframes PageAnime{
	0% {
		transform-origin:top;
		transform:scaleY(0);
	}
	50% {
		transform-origin:top;
		transform:scaleY(1);
	}
	50.001% {
		transform-origin:bottom;
	}
	100% {
		transform-origin:bottom;
		transform:scaleY(0);
	}
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:2s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

